@use "../../styles/colors" as colors;

a.primary-button {
    /* Auto layout */
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background: #EE4E2F;

    border: 0;
    border-radius: 4px;

    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    text-transform: capitalize;
    text-decoration: none;

    .primary-button-label {
        min-width: 145px;
    }

    img {
        height: 14px;
    }
}


