.project-card {
    margin-bottom: 24px;

    h2.title {
        color: #000;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: stretch;
    }

    .role {
        color: #000;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: stretch;
    }

    ul {
        padding-left: 20px;

        li {
            color: #4D4D4D;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

}
