@use "../../styles/colors" as colors;

.App {
    background-color: colors.$white;
    scroll-behavior: smooth;
    .hero-wrapper {
        /* Blue/10 */
        background: colors.$blue-10;
        background: radial-gradient(99.71% 430.84% at 18.47% 16.18%, #E4EDF1 0%, rgba(156, 188, 205, 0.4) 19.63%, rgba(124, 166, 189, 0.4) 43.05%, rgba(204, 221, 229, 0.5) 69.36%, rgba(228, 237, 241, 0) 100%);
        padding: 88px 56px 0;

        .hero {
            /* Auto layout */
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            padding: 56px 64px;
            gap: 56px;

            img {
                max-height: 416px;
            }

            &-text {
                max-width: 896px;
                display: flex;
                flex-direction: column;
                // align-items: flex-start;
                padding: 0;
                gap: 8px;

                h1,
                h2,
                p {
                    margin: 0;
                }

                h1 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 56px;

                    /* Gray/1 */
                    color: colors.$gray-1;

                }

                h2 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    /* identical to box height */

                    /* Blue/1 */
                    color: colors.$blue-1;
                }

                .description {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    gap: 24px;
                    margin-bottom: 32px;

                    p {
                        font-family: 'Inter';
                        font-style: italic;
                        font-weight: 400;
                        font-size: 16px;

                        /* Gray/1 */
                        color: colors.$gray-1;
                    }
                }

            }
        }

    }
}

.bottom-wrapper#bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 56px;
    gap: 48px;
    margin: 64px auto;

    .white-cards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        gap: 24px;

        .left,
        .right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            gap: 24px;
        }
    }

    .contact-wrapper,
    .experience-education-wrapper,
    .skills-tools-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        gap: 16px;

        max-width: 732px;

        background: #FFFFFF;
        /* Gray/7 */

        border: 1px solid colors.$gray-7;
        border-radius: 8px;
    }

    .contact-wrapper {
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        gap: 0;

        p {
            margin: 0;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;

            /* Gray/1 */

            color: #495057;
        }
    }

    .skills-tools-wrapper {
        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        gap: 24px;

        h4 {
            margin: 0;
            color: colors.$gray-1;
        }

    }

    .contact-wrapper,
    .education-wrapper,
    .experience-wrapper {

        h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 29px;
            /* identical to box height */

            /* Blue/2 */

            color: colors.$blue-2;
            margin: 0 0 8px;
        }

        .item {
            border-left: 2px solid colors.$gray-8;
            padding-left: 16px;

            h4 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;

                /* Gray/1 */

                color: colors.$gray-1;
                display: inline-block;
                margin: 0 8px 0 0;
            }
            h5 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 900;
                font-size: 14px;
                line-height: 19px;

                /* Gray/2 */

                color: colors.$gray-2;
                display: inline-block;
                margin: 0;
            }
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                /* or 150% */

                /* Gray/1 */

                color: colors.$gray-1;
                margin: 0 0 16px;

            }
        }

    }
}

@media only screen and (max-width: 1280px) {
    .App .hero-wrapper {
        padding: 128px 24px 24px;
        
        .hero {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;

        .avatar {
            display: none;
        }
    }}

    .bottom-wrapper#bottom {
        padding: 0 24px;

        .white-cards {
        flex-direction: column;
    }
    }
}
