
.content {
    padding: 0; 
    display: flex;
    flex-direction: column;
}

.hero {
    padding: 88px 0;
    display: inline-flex;
    flex-direction: row;
    gap: 40px;
    max-width: 1000px;
    margin: auto;

    h1 {
        color: #000;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        margin: 0 0 8px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h4 {
            color: #4D4D4D;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 0 0 24px;
        }

        p {
            color: #4D4D4D;
            margin: 0 0 40px;
        }

    }

    img.avatar {
        height: 318px;
    }
}

h5 {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.recent-presentations-wrapper {
    background: #E5F1EC;

    .recent-presentations {
        display: flex;
        padding: 88px 148px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        background: #E5F1EC;
        margin: auto;
        max-width: 1000px;

        .presentation-cards {
            display: flex;
            width: 100%;
            align-items: flex-start;
            align-content: flex-start;
            gap: 28px;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
}

.recent-projects {
    display: flex;
    padding: 88px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 397px;
    max-width: 1000px;
    margin: auto;
}

.process {
    background-image: url(../../assets/dot-pattern.png);
    background-repeat: repeat;
    background-position: center bottom;
    background-size: 12px 12px;
    padding: 92px 0 88px;

    .process-content {
        max-width: 1000px;
        margin: auto;
    }

    img {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .content {

        .hero {
            margin: 0 40px;
        
        img.avatar {
            display: none;
        }}

        .recent-presentations-wrapper .recent-presentations {
            padding: 88px 40px;
            margin: 0 40px;
        }

        .recent-projects {
            margin: 0 40px;
        }

        .process{
            .process-content {
                margin: 0 40px;
            }
        }

        
    }
}
