
// BLUE
$blue-1: #375A6D;
$blue-2: #436F85;
$blue-3: #4C7C96;
$blue-4: #5988A2;
$blue-5: #6595AF;
$blue-6: #7CA6BD;
$blue-7: #9CBCCD;
$blue-8: #BBD1DD;
$blue-9: #CCDDE5;
$blue-10: #E4EDF1;

// GRAY
$gray-1: #495057;
$gray-2: #6C757D;
$gray-3: #868F97;
$gray-4: #99A2AA;
$gray-5: #ADB5BD;
$gray-6: #CED4DA;
$gray-7: #D2D7DB;
$gray-8: #DEE2E6;
$gray-9: #E9ECEF;
$gray-10: #F8F9FA;