@use "../../styles/colors" as colors;

.navbar {
    background-color: colors.$blue-10;
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(134, 143, 151, 0.25);

    .logo {
        height: 24px;
    }

    .nav-links {
        display: flex;
        margin: 0;

        li {
            list-style: none;
            margin-left: 32px;

            a {
                color: colors.$gray-2;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 8px;
                    /* Blue/2 */
                    color: colors.$blue-1;

                }
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .navbar {
        flex-direction: column;
        gap: 16px;

        img.logo {
            display: block;
            width: 42.19px;
            align-self: center;
        }
        .nav-links {
            padding: 8px;
            gap:16px;
            justify-content: space-between;
            li {
                margin-left: 0px;
            }

        }
    }
}

// .navbar.profile-page-hero {
//     background-color: transparent;
// }
