nav {
    align-items: center;
    background: #853939;
    color: #fff;
    display: flex;
    min-height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    flex: 7;
    list-style-type: none;
    margin-left: 64px;
    padding: 0;
}

nav button.primary-button {
    flex: 1;
    margin: 0 64px 0 0;
    border-radius: 1000px;
    border: 2px solid #fff;
    background: transparent;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    height: 32px;
    padding: 2px 8px;
    letter-spacing: 0.04em;
    text-align: center;
    transition: 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

nav button.primary-button a {
    color: #fff;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-right: 2%;
}

nav ul li a,
nav ul li a:visited {
    color: #fff;
    text-decoration: none;
}