
a.presentation-card-link {
    text-decoration: none;
    display: flex;
    flex: 1 0 0;

    .presentation-card {
        display: flex;
        padding: 24px 20px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        border-radius: 4px;
        background: #FFF;
        box-shadow: 0 4px 10px 0 rgba(187, 225, 250, 0.25);

        width: 100%;

        .presentation-card-text {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h3.title {
                color: #000;
                font-family: Inter;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 0;
                max-width: 266px;
            }

            .metadata {
                color: #4D4D4D;
                display: flex;
                align-items: center;
                gap: 24px;

                .divider {
                    border-left: 1px solid #4D4D4D;
                    width: 0;
                    height: 21px;
                }
            }
        }

        img.presentation-card-image {
            height: 136px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .recent-presentations-wrapper {
        position: relative;
        margin-left: -40px;
        margin-right: -40px;

        a.presentation-card-link .presentation-card {
            flex-direction: column;
            gap: 24px;

            .presentation-card-image {
                align-self: end;
            }
        }
    }

    .recent-projects{
        margin-top: 0;
    }
}
